extends layout-blocks/layout
block container

    .slider
        .container
            .left
                .arrow <
            .right
                .arrow >

    .container
        ul.bread
            li
                a Главная
            li.devider /
            li
                a Каталог
            li.devider /
            li
                span Бытовая техника

    .container
        main
            .sidebar
                .menu
                    ul.sidebar__menu
                        a Автомобили
                        li some
                    ul.sidebar__menu.sidebar__menu-active
                        a Бытовая техника
                        li.active Микроволновки
                        li Холодильники
                        li Посудомоечные машины
                        li Чайники
                    ul.sidebar__menu
                        a Мобильная техника
                        li some
                    ul.sidebar__menu
                        a Компьютеры
                        li some
                    ul.sidebar__menu
                        a Одежда
                        li some
                    ul.sidebar__menu
                        a Недвижимостю
                        li some
                .block
                    .block_price
                        a
                            div.img
                                img(src="/images/excel_icon.png")
                            div Прайс-лист
            .catalog
                .catalog__grid
                    .product
                        .picture
                        .desc Самый клевый чайник, который надо купить!
                        .buy
                            .price 1 900 р.
                            .cart
                                img(src="/images/cart_icon.png")
                    .product
                        .picture
                        .desc Самый клевый чайник, который надо купить!
                        .buy
                            .price 1 900 р.
                            .cart
                                img(src="/images/cart_icon.png")
                    .product
                        .picture
                        .desc Самый клевый чайник, который надо купить!
                        .buy
                            .price 1 900 р.
                            .cart
                                img(src="/images/cart_icon.png")
                    .product
                        .picture
                        .desc Самый клевый чайник, который надо купить!
                        .buy
                            .price 1 900 р.
                            .cart
                                img(src="/images/cart_icon.png")
                    .product
                        .picture
                        .desc Самый клевый чайник, который надо купить!
                        .buy
                            .price 1 900 р.
                            .cart
                                img(src="/images/cart_icon.png")
                .catalog__nav
                    a 1
                    a 2
                    a.active 3
                    a 4
                    a 5
                    a 6
                    a 7
                .devider &nbsp;

                .info
                    div Компания «Компания» существует более 6 лет, за это время мы принимали участие в разработке более чем 700 сайтов, поэтому можем уверенно называть себя профессионалами. На данный момент наш коллектив состоит из более чем 20 сотрудников работающих в Москве.
                    div Одним из основных направлений работ нашей компании является поисковое продвижение сайтов, на данной момент мы работаем с более чем 150 постоянными клиентами по более чем 11 000 поисковым запросам. При этом в работе основной акцент мы делаем на качестве работ, а так же применяем собственные уникальные разработки в области SEO продвижения. На данный момент отдел SEO состоит из 9 человек под руководством ведущего специалиста, преимущественно работающих в нашем московском офисе.

