@import 'normalize'

a {
	cursor pointer
}

body
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	flex: 1 0 auto;
	margin 0
	padding 0;
	font-size 16px
	font-weight 400
	font-family: 'PT Sans', sans-serif;
	color #767676
	overflow-x: hidden;

section
	width: 100%;
	display: flex;
	flex-flow: column nowrap;

.container
	width: 100%;
	max-width: 980px;
	min-width 240px
	margin: 0 auto;
	flex: 1 0 0;
	padding: 0 10px;
	box-sizing: content-box;


main
	display flex
	margin-bottom: 175px;

@import 'header.styl'
@import 'header__nav.styl'
@import 'slider.styl'
@import 'bread.styl'
@import 'sidebar.styl'
@import 'catalog.styl'
@import 'footer.styl'