.bread
	list-style none
	display flex
	padding: 0;
	margin: 0 0 20px 0;
	line-height: 200%;
	font-size 90%
	flex-wrap: wrap;
	@media Small
		justify-content: center;
	li.devider
		margin 0 7px
	a
		text-decoration underline
	span
		margin-left: 7.5px