.catalog
	overflow: hidden;
	.catalog__grid
		display flex
		flex-flow row wrap
		width: calc(100% + 20px);
		@media Small
			justify-content center
			width 100%
		@media Medium
			justify-content center

		.product
			width: 100%;
			max-width: 250px;
			padding: 20px;
			background: #dcdcdc;
			margin: 0 15px 20px 0;
			box-sizing: border-box;
			max-height: 380px;
			.picture
				width 210px
				height 210px
				background #FFF
				background-image url('/images/placeholder.png')
			.desc
				margin 17px 0
				font-size: 117%;
				line-height: 110%;
			.buy
				display: flex;
				justify-content: space-between;
				margin: 48px 0 0;
				font-size: 170%;
				word-spacing: 0.1em;
				.cart
					display: flex;
					align-items: flex-end;
					width: 40px;
					height: 30px;
	.catalog__nav
		display: flex;
		justify-content: center;
		line-height: 40px;
		a
			display inline-block
			margin 0 4px
			padding 0 6px
			&.active
				cursor default
				font-size 120%

	.devider
		margin-top: 54px;
		margin-bottom: 25px;
		height: 1px;
		background-color: black;

	.info
		line-height: 150%;
		display: flex;
		font-size: 92%;
		justify-content: space-between;
		flex-flow: wrap;
		div
			@media Small
				max-width 100%
			max-width: 350px;
			padding: 0 20px 20px 0;
			@media Medium
				max-width: 550px;
				margin: auto;