.catalog
	.catalog__grid
		display flex
		flex-flow row wrap
		.product
			width: 100%;
			max-width: 250px;
			padding: 20px;
			background: #dcdcdc;
			margin: 0 15px 20px 0;
			box-sizing: border-box;

		.picture
			width 210px
			height 210px
			background #FFF