.catalog
	.catalog__grid
		display flex
		flex-flow row wrap
		.product
			width: 100%;
			max-width: 250px;
			padding: 20px;
			background: #dcdcdc;
			margin: 0 15px 20px 0;
			box-sizing: border-box;
			max-height: 380px;
			.picture
				width 210px
				height 210px
				background #FFF
			.desc
				margin 15px 0
			.buy
				display: flex;
				justify-content: space-between;
				margin: 50px 0 0;
				font-size: 170%;
	.catalog__nav
		display: flex;
		justify-content: center;
		line-height: 40px;
	.devider
		margin-top: 53px;
		margin-bottom: 25px;
		height: 1px;
		background-color: black;

	.info
		line-height: 150%;
		display: flex;
		font-size: 92%;
		justify-content: space-between;
		div
			max-width: 350px;
			padding-right: 50px;