header
	background: #dcdcdc;
	.header
		max-height: 230px;
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-flow row wrap
		@media Small
			max-height: 350px;
			font-size 80%
			justify-content: center;
			align-content: space-around;
		.header__company
			display flex
			flex-direction row
			.logo
				width: 100px;
				height: 100px
				background: #767676
			.info
				display: flex;
				flex-direction column
				justify-content center
				padding: 0 10px
				.name
					font-size: 210%;
					font-weight: 700;
					line-height: 70%;
					margin-bottom 13px
				.slogan
					font-size: 100%;
					margin-top 5px

		.header__contacts
			display flex
			flex-direction column
			align-items flex-end
			margin-top: -40px
			@media Small
				margin 10px auto
			.tel
				font-family: 'Open Sans Condensed';
				font-size: 267%;
				font-weight: 300;
				line-height: 107%;
			.feedback
				font-weight: 700;
				font-size: 155%;
				line-height: 90%;
				margin-top: 5px;
				border-bottom: 2px dashed #797979;
				@media Small
					margin: 20px auto;