.header__nav
	background: #767676;
	min-height: 80px;
	align-items: center;
	.menu
		list-style: none;
		display: flex;
		justify-content: space-around;
		align-items: center;
		@media Small
			display none
		li
			color: #FFF;
			font-size 200%
			display flex
			justify-content: center;
			align-items: center;
			text-align: center;
			padding: 0 20px;
			margin-top: -10px;
			&.devider {
				width: 2px;
				height: 30px;
				background: #fff;
				margin: 0px -35px;
				padding: 0;
			}
			a:hover{
				text-decoration underline
				cursor: pointer
			}