header
	background: #dcdcdc;
	.header
		max-height: 230px;
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.header__company
			display flex
			flex-direction row
			.logo
				width: 100px;
				height: 100px
				background: #767676
			.info
				display: flex;
				flex-direction column
				justify-content center
				padding: 0 10px
				.name
					font-size: 210%;
					font-weight: 700;
					line-height: 70%;
					margin-bottom 10px
				.slogan
					font-size: 100%;
					margin-top 5px

		.header__contacts
			display flex
			flex-direction column
			align-items flex-end
			margin-top: -30px
			.tel
				font-family: 'Open Sans Condensed';
				font-size: 270%;
				font-weight: 300;
				line-height: 100%;
			.feedback
				font-weight: 700;
				font-size: 155%;
				line-height: 100%;
				margin-top 5px
				border-bottom: 2px dashed #797979;

	.header__nav
		background: #767676;
		min-height: 80px;
		align-items: center;
		.menu
			list-style: none;
			display: flex;
			justify-content: space-around;
			align-items: center;
			li
				color: #FFF;
				font-size 200%
				display flex
				justify-content: center;
				align-items: center;
				text-align: center;
				padding: 0 20px;
				&.devider {
					width 2px;
					height: 30px;
					background #FFF
					margin: 0 -35px;
					padding: 0
				}
				a:hover{
					text-decoration underline
					cursor: pointer
				}