.slider
	min-height 400px
	background #f8f8f8
	.container
		position relative
	.left, .right
		position absolute
		top: 155px
		.arrow
			height 60px
			width 35px
			background #d1d1d1
	.right
		right 27px