footer
    .footer.container
        .copyright
            .copyright_info &copy; 2012-2016 ЗАО «Компания»
            .copyright_email info@name.ru
        ul.footer__menu
            li Главная
            li Каталог
            li Доставка и оплата
            li Прайс-лист
            li Контакты
        .digital
            .digital__logo
                img(src="/images/logo_icon.png")
            .digital__link
                span
                    a Разработка сайта -
                span Компания «Компания»
