footer
    section.container
        .copyright
            .copyright_info &copy; 2012-2016 ЗАО "Компания"
            .copyright_email info@name.ru
        ul.footer__memnu
            li Главная
            li Каталог
            li Доставка и оплата
            li Прайс-лист
            li Контакты
        .digital
            .digital__logo
            .digital__link
                a Разработка сайта -
            .digital__name Компантя "компании"
