header
    section
        .header
            .header__company
                .logo logotype
                .name Название компании
                .slogan Самая клевая компания
            .header__contacts
                .tel +7(499) 777-77-77
                .tel +7(499) 777-77-77
                .feedback Обратная связь
    nav
        ul.menu
            li Главная
            li Каталог
            li Доставка и оплата
            li Прайс-лист
            li Контакты