header
    .container.header
        .header__company
            .logo logotype
            .info
                .name Название <br/> компании
                .slogan самая клевая компания
        .header__contacts
            .tel +7(499) 777-77-77
            .tel +7(499) 777-77-77
            .feedback Обратная связь
    section.header__nav
        ul.menu.container
            li
                a Главная
            li.devider
            li
                a Каталог
            li.devider
            li
                a Доставка и оплата
            li.devider
            li
                a Прайс-лист
            li.devider
            li
                a Контакты